.tree
  li
    display none
    margin 0px 0
    list-style-type none
    position relative
    padding 14px 0 0 5px
    span.type
      margin-left 15px
    &:before
      content ''
      position absolute
      top 0
      width 1px
      height 100%
      right auto
      left -20px
      border-left 1px solid #ccc
      bottom 50px
    &:after
      content ''
      position absolute
      top 30px
      width 25px
      height 20px
      right auto
      left -20px
      border-top 1px solid #ccc
    &:last-child
      &:before
        height 30px

.tree > ul > li::before, .tree > ul > li:after
  border 0

.category-form
  .alert-info
    margin 0
