clouds = #ecf0f1
nephritis = #27ae60
midnight = #2c3e50
asbestos = #7f8c8d
greensea = #16a085
turquoise = #1abc9c

screen-xs = 480px
screen-sm = 768px
screen-md = 992px
screen-lg = 1200px

screen-xs-max = screen-sm - 1px;
screen-sm-max = screen-md - 1px;
screen-md-max = screen-lg - 1px;

screen-xs-query = "screen and (max-width: " + screen-xs-max + ")"
screen-sm-query = "screen and (min-width: " + screen-sm + ") and (max-width: " + screen-sm-max + ")"
screen-md-query = "screen and (min-width: " + screen-md + ") and (max-width: " + screen-md-max + ")"
screen-lg-query = "screen and (min-width: " + screen-lg + ")"

sidebar-width = 230px

@css {
    @font-face {
        font-family: 'harlow_solid_italicitalic';
        src: url('../fonts/harlow_solid_italic_italic-webfont.woff') format('woff'),
             url('../fonts/harlow_solid_italic_italic-webfont.ttf') format('truetype'),
             url('../fonts/harlow_solid_italic_italic-webfont.svg#harlow_solid_italicitalic') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Awesome';
        src: url('../fonts/fontawesome-webfont.eot?v=3.2.1');
        src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),
             url('../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'),
             url('../fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),
             url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none

[class^="icon-"], [class*=" icon-"]
  font-family Awesome !important

body
  background clouds

#loading-bar .bar
  background greensea

#loading-bar .peg
  box-shadow 0 0 10px turquoise, 0 0 5px turquoise

#loading-bar-spinner .spinner-icon
  border-top-color  greensea
  border-left-color greensea

.ng-pageslide
  display none
  overflow hidden
  &.ps-hidden
    padding 0

.top-border
  position absolute
  top 0
  left 0
  right 0
  height 55px
  border-bottom 5px solid #E6EBEC

.center-container
  margin-left sidebar-width

.sidebar-spacer
  width sidebar-width
  float left

.sidebar
  position fixed
  left 0
  top 0
  bottom 0
  width sidebar-width

.sidebar, .ng-pageslide
  background midnight
  padding 20px

  .userinfo
    margin-bottom 15px

  .username
    color clouds

  .userpic
    position relative
    border-radius 50%
    img
      border-radius 50%
    .overlay, .settings
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      border-radius 50%
      display none
    .overlay
      background #000
      opacity 0.5
    .settings
      color clouds
      font-size 330%
      span
        padding 35%
        color clouds
    &:hover
      .overlay, .settings
        display block

  .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus
    background nephritis
    color clouds

  .nav>li>a:hover, .nav>li>a:focus
    background transparent
    border 1px dashed clouds
    padding 9px 14px

  .nav>li>a
    color clouds

  .footer
    position absolute
    bottom 20px
    left 20px
    right 20px
    a
      color asbestos
      &:hover
        color #e67e22
        text-decoration none

img.flag
  padding 0 10px 3px 0

.settings-form
  .select2-container
    max-width 269px

  .select2-container .select2-choice .select2-arrow b
    background-position 0 4px

  .select2-container .select2-choice, .select2-container .select2-choice > .select2-chosen, .select2-search, .select2-search input, .select2-container-multi .select2-choices
    height 34px !important
    line-height 34px !important

   .select2-container .select2-choice, .select2-container.select2-drop-above .select2-choice, .select2-drop, .select2-drop.select2-drop-above, .select2-container .select2-choice .select2-arrow, .select2-search input, .select2-dropdown-open .select2-choice, .select2-container-multi .select2-choices .select2-search-choice
     border-radius 2px !important;

  .alert-info
    margin 0

.header
  margin-bottom 15px
  padding-left 15px
  .logo
    background url('../images/logo.png') no-repeat left center
    font-family 'harlow_solid_italicitalic'
    font-weight lighter
    padding-left 80px
    font-size 35px
    color #ADB1B7
    display inline-block
    &:hover
      text-decoration none
      color #999EA6
  .instock
    margin-right 10px
  .sidebar-toggle
    margin 8px

@media screen-xs-query
  .center-container
    margin-left 0
  .ng-pageslide
    display block
  .header
    text-align center
    .logo
      background none
      padding-left 0