.account-form
  .currency-title
    line-height 34px

  .alert-info
    margin 0

.parent-operations
  .btn.add-operation, .btn.add-account
    margin 10px 0
  table.accounts tbody td
    line-height 30px
