.ng-pageslide
  position fixed
  z-index 1001
  &.ps-right
    width 205px
    top 0px
    bottom 0px
    right 0px
    overflow-x hidden
    &.ps-hidden
      width 0px
    &.ps-shown
      width 205px
  &.ps-left
    width 205px
    top 0px
    bottom 0px
    left 0px
    overflow-x hidden
    &.ps-hidden
      width 0px
    &.ps-shown
      width 205px
  &.ps-top
    height 200px
    top 0px
    right 0px
    left 0px
    overflow-y hidden
    &.ps-hidden
      height 0px
    &.ps-shown
      height 200px
  &.ps-bottom
    height 200px
    right 0px
    bottom 0px
    left 0px
    overflow-y hidden
    &.ps-hidden
      height 0px
    &.ps-shown
      height 200px

