.select2-container
  .select2-choice
    outline 0
    abbr
      background url('../images/select2.png') right top no-repeat
    .select2-arrow
      b
        background url('../images/select2.png') no-repeat 0 1px

.select2-search
  input
    background #fff url('../images/select2.png') no-repeat 100% -22px
    &.select2-active
      background #fff url('../images/select2-spinner.gif') no-repeat 100%

.select2-more-results
  &.select2-active
    background #f4f4f4 url('../images/select2-spinner.gif') no-repeat 100%

.select2-container-multi
  .select2-choices
    li
    .select2-search-field
      input
        &.select2-active
          background #fff url('../images/select2-spinner.gif') no-repeat 100% !important

.select2-search-choice-close
  background url('../images/select2.png') right top no-repeat

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b
      background-image url('../images/select2x2.png') !important

.select2-container .select2-choice, .select2-container .select2-choice .select2-arrow
  background-image none

.select2-container .select2-choice .select2-arrow
  background none
  
.select2-container-active .select2-choice, .select2-container-active .select2-choices, .select2-drop
  -webkit-box-shadow none
  -moz-box-shadow none
  -ms-box-shadow none
  -o-box-shadow none
  box-shadow none

.select2-dropdown-open .select2-choice
  background #FFF

.select2-results .select2-highlighted
  background #2980b9

.select2-drop-active, .select2-container-active .select2-choice, .select2-container-active .select2-choices, .select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices
  border: 1px solid #2980b9

.select2-drop
  border-top 0

form
  .select2-container
    max-width 265px

  .select2-container .select2-choice .select2-arrow b
    background-position 0 4px

  .select2-container .select2-choice, .select2-container .select2-choice > .select2-chosen, .select2-search, .select2-search input, .select2-container-multi .select2-choices
    height 34px !important
    line-height 34px !important

  .select2-container .select2-choice, .select2-container.select2-drop-above .select2-choice, .select2-drop, .select2-drop.select2-drop-above, .select2-container .select2-choice .select2-arrow, .select2-search input, .select2-dropdown-open .select2-choice, .select2-container-multi .select2-choices .select2-search-choice
    border-radius 2px !important;

  .select2-container .select2-choice abbr
    top 9px



