<script type="text/ng-template" id="category-item">
    <div class="btn-group">
        <button type="button" class="btn btn-default toggle" ng-show="{{category.children.length > 0}}"><span class="icon icon-plus"></span></button>
        <button type="button" class="btn btn-default">{{category.name}}</button>
        <button type="button" class="btn btn-default" ng-class="{ 'disabled': !category.editable  }" ng-click="categoryDialogOpen('edit', category.id)"><span class="icon icon-edit"></span></button>
        <button type="button" class="btn btn-default" ng-class="{ 'disabled': !category.editable  }" ng-click="removeCategoryDialogOpen(category.id)"><span class="glyphicon glyphicon-trash"></span></button>
    </div>

    <span class="label {{classByType(category.type)}}" translate>{{typeTitleByType(category.type)}}</span>

    <ul>
        <li ng-repeat="category in category.children" ng-include="'category-item'"></li>
    </ul>
</script>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-lg-6 tree" ng-controller="CategoryCtrl">
        <div class="panel panel-primary">
            <div class="panel-heading" translate>Категории</div>
            <ul tree>
                <li ng-repeat="category in categoriesTree">
                    <subview data="'category-item'"></subview>
                </li>
            </ul>
            <div class="panel-footer"><button class="btn btn-block btn-success add-operation" ng-click="categoryDialogOpen('new')"><span class="icon icon-plus"></span> <span translate>Добавить категорию</span></button></div>
        </div>

        <div class="modal fade" modal="removeAccountDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="categoryDialogClose()">&times;</button>
                        <h4 class="modal-title" translate>{{activeMode === 'new' ? 'Добавление категории': 'Редактирование категории'}}</h4>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" ng-click="categoryDialogSave()" ng-disabled="categoryForm.$invalid"><span class="icon icon-ok"></span> <span translate>{{activeMode === 'new' ? 'Добавить категорию': 'Сохранить изменения'}}</span></button>
                        <button type="button" class="btn btn-warning cancel" ng-click="categoryDialogClose()"><span class="icon icon-remove"></span> <span translate>Отмена</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





