<div class="top-border"></div>

<div id="sidebar" class="wrap visible-xs" ng-controller="UserCtrl">
    <subview data="'sidebar'"></subview>
</div>

<div class="hidden-xs col-sm-2 col-md-2 col-lg-2 sidebar" ng-controller="UserCtrl">
    <div style="wrap">
        <subview data="'sidebar'"></subview>
    </div>
</div>

<div class="col-xs-12 col-sm-offset-2 col-sm-10 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
    <header class="header" ng-controller="UserCtrl">
        <a ng-href="#{{ $state.href('parent.operations') }}" class="logo">Finance Butler</a>
        <span class="navbar-text pull-right visible-md visible-lg">
            <p class="pull-right arrears" ng-show="arrears.length">
                <span translate>Долги</span>
                <span ng-repeat="byCurrency in arrears">
                    <span class="label label-danger">{{byCurrency.total | accounting: byCurrency.currency:currency }}</span>
                </span>
            </p>
            <p class="pull-right instock" ng-show="instock.length">
                <span translate>В наличии</span>
                <span ng-repeat="byCurrency in instock">
                    <span class="label label-success">{{byCurrency.total | accounting: byCurrency.currency:currency }}</span>
                </span>
            </p>
        </span>
        <button type="button" class="btn btn-info visible-xs pull-right sidebar-toggle" pageslide="left" href="#sidebar">
            <span class="icon icon-tasks"></span>
        </button>
    </header>

    <div class="row section" ng-class="$state.current.name | stateClass" ui-view></div>
</div>